projects/areason/ar/development/xsd/form.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>Схема для создания AR формы</xsd:annotation>
    <xsd:element name="form">
        <xsd:complexType>
            <xsd:attribute name="id"/>
            <xsd:attribute name="name"/>
            <xsd:attribute name="title"/>
            <xsd:attribute name="description"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>